html,body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

@font-face {
    font-family: "myFont";
    src: url("./@font-face/0021e0dd7bb3205b038c4f17aacff6cc.woff");
  }

.speedometer{
    width: 512px;
    height: 512px;
    position: absolute;
    bottom: -110px;
    right: -110px;
    transform: scale(0.7);
}

img#gauge{
    width: 512px;
    height: 512px;
    position: absolute; 
}

img#needle{
    width:310px;
    position: absolute;
    right: 165px;
    bottom: 198px;
    transform: rotate(-70.5deg);
    transform-origin: 219px 52px;
}

.digitalNumber{
    position: absolute;
    bottom: 120px;
    right: 130px;
    font-family: "myFont";
}

.kmh{
    right: 20px;

}

#spanNumber{
    font-size: 25px;
}